<h1 i18n>Zenbat gera, lau, bat...</h1>
<md-card class="wide-card about">
  <md-card-subtitle i18n>
    <a href="https://github.com/pxai" title="Pello Xabier's github profile">Pello Altadill</a><span i18n>ek</span>
  </md-card-subtitle>
  <md-card-content i18n>
    ...ahal bezala egina.

  </md-card-content>

</md-card>

<md-card class="about">
  <md-card-subtitle><strong i18n>Erabilitako teknologiak:</strong>
    Angular2 (TypeScript) + Node.js + Express + MongoDB (+Webpack, +AWS, etc.)
</md-card-subtitle>
</md-card>
