<h1>Auth</h1>
<md-card class="wide-card">
  <md-card-subtitle>Please Sign In</md-card-subtitle>
  <md-card-content>
    <div class="login-wrapper">
      <p>You need to log in.</p>
      <button (click)="login()">Login</button>
    </div>

    <div  *ngIf="userName != null" class="main-application">
      <p><span i18n>Kaixo</span>, {{ userName }}!</p>
    </div>
  </md-card-content>

</md-card>
<hr>
<md-card>
  <md-card-subtitle><strong i18n>Erabilitako teknologiak:</strong>
    Angular2 (TypeScript) + Node.js + Express + MongoDB (+Webpack, +AWS, etc.)
</md-card-subtitle>
</md-card>
