<h1>Auth</h1>
<md-card class="wide-card">
  <md-card-subtitle>Please Sign In</md-card-subtitle>
  <md-card-content>
    <div class="login-wrapper">
      <p>You need to log in.</p>
      <div id="{{ googleLoginButtonId }}"></div>
    </div>
    <div class="main-application">
      <p>Hello, {{ userDisplayName }}!</p>
    </div>
  </md-card-content>

</md-card>
<hr>
<md-card>
  <md-card-subtitle><strong>Technologies used:</strong>
    Angular2 with TS + Node.js + Express + MongoDB
</md-card-subtitle>
</md-card>
