<md-card class="wide-card" id="lastquestions">
  <md-card-title>
    <md-icon>question_answer</md-icon> <span i18n>Azken gaiak...</span>
  </md-card-title>
  <md-card-content>
  <div  *ngFor="let question of this.questions;let i=index">
    <!--div><a href="/#/question/{{question.permalink}}"  fragment="mainquestion">{{question.question}}</a></div-->
    <div><a [routerLink]="['question', question.permalink]"  fragment="logo">{{question.question}}</a></div>
  </div>
  </md-card-content>
</md-card>
