

@-webkit-keyframes progress-bar {
  0% { width: 0; }
}
@-moz-keyframes progress-bar {
  0% { width: 0; }
}

keyframes progress-bar {
0% { width: 0; }
}

.progress-bar {
  padding: 0.5em;
  clear: both;
}

.progress-bar  div.bar {
   height: 2em;
   -webkit-animation: progress-bar 2s;
   -moz-animation: progress-bar 2s;
   animation: progress-bar 2s;
 }

div.percentage {
  padding: 0.4em;
  float: left;
  font-family: 'Lobster',Helvetica, sans-serif;
  text-shadow: -1px -1px white, 1px 1px #333;
}

.questionText {
  padding-top: 0.4em;
  margin-right: 1em;
  min-width: 30%;
  text-align: right;
  font-weight: bold;
  float: left;
  font-size: 1.2em;
  font-family: 'Lobster',Helvetica, sans-serif;
  text-shadow: -1px -1px white, 1px 1px #333;
}

.progress-bar  .bar {
  float: left;
  heignt: 2em;
  width: 100%;
  overflow: hidden;
  background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
}

#bar0 {
  background-color: red;
}

.bar1 {
  background-color: green;
}

.bar2 {
  background-color: orange;
}

.bar3 {
  background-color: blue;
}
