
#progressbar {
  width: 100%;
  height: 2em;
  padding: 2px;
  margin: .6em 0;
  clear: both;
}

#progressbar > div {
  height: 2em;
  width: 0%;
  max-width: 100%;
  float: left;

}

#progress1 {
  background: #A10069; /*-- Color of the bar --*/
  -webkit-animation: p1 2s 1 forwards;
  -moz-animation: p1 2s 1 forwards;
  -ms-animation: p1 2s 1 forwards;
  animation: p1 2s 1 forwards;
}

#progress2 {
  background: #FECCDE; /*-- Color of the bar --*/
  -webkit-animation: p2 2s 1 forwards;
  -moz-animation: p2 2s 1 forwards;
  -ms-animation: p2 2s 1 forwards;
  animation: p2 2s 1 forwards;
}

#progress3 {
  background: #CCFFDE; /*-- Color of the bar --*/
}

#progress4 {
  background: #CCDEFE; /*-- Color of the bar --*/
}

#progress5 {
  background: #CCFFDE; /*-- Color of the bar --*/
}

#progress6 {
  background: #CCDEFE; /*-- Color of the bar --*/
}

#pbaranim {
  height: 15px;
  width: 100%;
  overflow: hidden;
  background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  filter: alpha(opacity=25);
}

@-webkit-keyframes p1{
  from { }
  to { width: 66% }
}

@-moz-keyframes p1{
  from { }
  to { width: 66% }
}
@-ms-keyframes p1{
  from { }
  to { width: 66% }
}
@keyframes p1
{
  from { }
  to { width: 66% }
}

@-webkit-keyframes p2 {
  from { }
  to { width: 36% }
}
@-moz-keyframes p2 {
  from { }
  to { width: 36% }
}
@-ms-keyframes p2{
  from { }
  to { width: 36% }
}
@keyframes p2
{
  from { }
  to { width: 36% }
}

@-webkit-keyframes progress{
  from { }
  to { width: 66% }
}
@-moz-keyframes progress{
  from { }
  to { width: 66% }
}
@-ms-keyframes progress{
  from { }
  to { width: 66% }
}
@keyframes progress
{
  from { }
  to { width: 66% }
}

