html, body {
  margin: 0;
  padding: 0;
  background-color: #0b97c4;
}
#frontpage {
  position:absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display-direction: row;
  align-items: center;
  justify-content: center;

}
#frontpage .row {
  width: auto;
}

#frontpage .row #logofp {
  width: 20%;
  margin: 0.2em;
  flex: 1 1 auto;
  color: white;
  text-decoration: none;
  font-family: 'Lobster',Helvetica, sans-serif;
  font-size: 4em;
}
