 <div class="flex-container">
    <div id="logo"><span><a [routerLink]=" ['./']">
         eta.bar...
        </a></span>
    </div>
   <div>
    <span *ngIf="store.getState().session != null" class="fill-remain">
      <i><span i18n>Kaixo</span>, {{ store.getState().session.given_name }}!</i>
                  <button md-mini-fab aria-label="Login" color="primary"(click)="logout()"><md-icon>exit_to_app</md-icon></button>
     </span>
     <span *ngIf="store.getState().session == null" class="fill-remain" >
          <button md-mini-fab aria-label="Login" color="primary" (click)="login()"><md-icon>person</md-icon></button>
     </span>
   </div>
 </div>
  <main>
    <router-outlet></router-outlet>
  </main>
 <div class="flex-center-container">
  <footer>
    <span><a href="/rss" title="RSS feed eta.bar"><i class="material-icons">rss_feed</i> RSS</a>  <a [routerLink]="['./about']"><i class="material-icons">code</i> eta.bar proiektua</a>  by <a [href]="url">@pelloxabier</a></span>
  </footer>
 </div>
