
 <header>
   <nav>
      <a [routerLink]=" ['./']">
      <img src="assets/img/eta.bar.png" alt="eta.bar logo" title="eta.bar logo" />
     </a>
        <span  *ngIf="user.given_name != ''" class="main-application">
            <i>Hello, {{ user.given_name }}!</i>
            <img src="{{ user.picture }}" align="right" style="width:50px;height:50px;" alt="{{ user.given_name }}'s Avatar" title="{{ user.given_name }}'s Avatar" />
          <button md-button (click)="logout()">Logout</button>
        </span>
     <span  *ngIf="user.given_name == null || user.given_name == ''" class="main-application">
        <button class="md-fab md-mini-fab" aria-label="Login" (click)="login()">
         Login
        </button>
        </span>
     <button md-raised-button color="warn" (click)="isDarkTheme = !isDarkTheme">TOGGLE THEME</button>
   </nav>
 </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <span><a [routerLink]="['./about']">about</a> eta.bar by <a [href]="url">@pelloxabier</a></span>
  </footer>

