html {
  background-image: url(../assets/img/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

span.active {
  background-color: gray;
}

.webpack-starter md-card{
  width: 300px;
}
.webpack-starter .wide-card{
  width: 400px;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction: row;
}

.flex-center-container {
  margin: 0 auto;
  width: 80%;
}

footer, footer a {
  font-size: 0.9em;
  text-align: center;
}

#logo {
  margin: 0.2em;
  flex: 1 1 auto;
}

#logo span a {
  color: #0b97c4;
  text-decoration: none;
  font-family: "Lobster 1.4",Helvetica, sans-serif;
  font-size: 3em;
  -webkit-text-shadow: 0.2px 0.5px 5px 0px rgba(255,255,255,0.75);
  -moz-text-shadow: 0.2px 0.5px 5px 0px rgba(255,255,255,0.75);
  text-shadow: 0.2px 0.5px 5px 0px rgba(255,255,255,0.75);
}

#mainquestion {
 text-align: center;
  font-size: 2em;
}

#comments {
  background-color: rgba(255,255,255,0.3);
}

.comment {
  width: 90%;
  margin: 2em;
}
.centercontent {
  width: 80%;

}

.avatar {
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;
  -webkit-box-shadow: 0.2px 0.5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.2px 0.5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0.2px 0.5px 5px 0px rgba(0,0,0,0.75);
}
