html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.2em;
}

span.active {
  background-color: gray;
}

.webpack-starter md-card{
  width: 300px;
}
.webpack-starter .wide-card{
  width: 400px;
}

.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
}

#logo {
  flex: 1 1 auto;
}
.avatar {
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;
  -webkit-box-shadow: 0.2px 0.5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.2px 0.5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0.2px 0.5px 5px 0px rgba(0,0,0,0.75);
}
