<div class="app-content">
  <h1 x-large class="sample-content">Home</h1>
  <md-card color="primary" class="wide-card">
    <md-card-title>{{this.question.question }}</md-card-title>
    <md-card-content>
      <div class='panel panel-info' *ngIf="format == 'normal'">
        <p  *ngFor="let answer of this.question.answers">
          <button id="submit-button" md-raised-button color="" (click)="voteFor(this.question._id,answer)">{{ answer.answer }}</button>
        </p>
      </div>
      <div class='panel panel-info shadow-2' *ngIf="format != 'normal'">
        <p  *ngFor="let answer of this.question.answers">
          <a id="submit-button" md-raised-button color="" (click)="voteFor(this.question._id,answer)">
            {{ answer.answer }} {{ votes[answer.id] }}
          </a>
        </p>
      </div>
      <hr>
      <comments></comments>
    </md-card-content>
  </md-card>
  <hr>
