<div class="app-content">
  <div class="flex-center-container">
      <div>
       <h1 md-display-3 id="mainquestion">{{this.question.question }}</h1>

        <div class='buttons' *ngIf="format == 'normal'">
          <div>
          <p  *ngFor="let answer of this.question.answers">
              <button class="answer" id="submit-button" md-raised-button color="" (click)="voteFor(this.question._id,answer)">
                {{ answer.answer.eu }}
              </button>
          </p>

          </div>

        </div>
        <div id="tags"><md-icon><i class="material-icons">label</i></md-icon>{{ tags }}</div>
        <div class='shadow-2' *ngIf="format != 'normal'">
          <votebars [totalPercentage]="this.votesPercentage" [questions]="this.question.answers" totalVotes="{{totalVotes}}"></votebars>
        </div>
      </div>
    <div class='panel buttons panel-info' id="socialbuttons">
      <span>
      <a [href]="sanitize('whatsapp://send?text='+ this.question.question +' Bozkatu hemen http://eta.bar/%23/question/'+this.question.permalink)" data-action="share/whatsapp/share">
        <img src="assets/img/WhatsApp.png" title="Watxapeatu!" alt="WhatsApp logo"/>
      </a>
      </span>
      <span>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{this.question.question}} Bozkatu hemen http://eta.bar/#/question/{{this.question.permalink}}"
           data-size="large">
        <img src="assets/img/Twitter.png" title="Txiokatu!" alt="Twitter logo"/>
      </a>
      </span>
      <span>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://eta.bar/%23/question/{{this.question.permalink}}" title="Facebookeatu">
        <img src="assets/img/Facebook.png" title="Watxapeatu!" alt="Facebook logo"/>
      </a>
      </span>
      <span>
      <a href="https://plus.google.com/share?url=http://eta.bar/%23/question/{{this.question.permalink}}&text={{this.question.question}} Bozkatu hemen" title="Gugleatu" >
        <img src="assets/img/Google.png" title="Gugleatu!!" alt="Google+ logo"/>
      </a>
      </span>
    </div>
      <comments></comments>
      <last-questions></last-questions>
  </div>
</div>
