<h3>Comments</h3>
<md-card class="wide-card">
  <md-card-subtitle>Please Sign In</md-card-subtitle>
  <md-card-content>
    <div  *ngIf="session.given_name != null" class="main-application">

      <div *ngIf="toggleComment==true">
        <form (ngSubmit)="submitComment()" autocomplete="off">

          <md-input
            placeholder="Comments here"
            autofocus
            [(ngModel)]="text"
            name="text"
            [value]="text"
          ></md-input>

          <button id="submit-button" md-raised-button color="accent">Send comment, {{ session.given_name }}</button>
        </form>
      </div>
      <div *ngIf="toggleComment==false">
        <p>Your comment was sent</p>
        <button id="toggle-comment" md-raised-button  (click)="toggleComment=true;">New comment</button>
      </div>
    </div>
  </md-card-content>

</md-card>
<hr>
<div  *ngFor="let comment of this.comments">
<md-card>
  <md-card-subtitle><strong>{{ comment.user.name }}</strong>
    {{ comment.text }}
</md-card-subtitle>
</md-card>
</div>
