
<div class="wide-card" id="comments">
  <div id="commentstitle">

    <div id="commentheader" class="centerdiv">
      <div class="title"><md-icon><i class="material-icons">question_answer</i></md-icon> <span i18n>Komentarioak</span></div>
      <div class="subtitle" *ngIf="store.getState().session == null"><md-icon>perm_identity</md-icon><span i18n>Komentatzeko, sartu</span></div>
    </div>
  </div>
  <div id="commentscontent">
    <div *ngIf="store.getState().session != null" class="main-application centerdiv">

      <div *ngIf="toggleComment==true" id="newcomment">
        <form (ngSubmit)="submitComment()" autocomplete="off">
          <div>
          <md-textarea
            i18n-placeholder
            placeholder="Idatzi komentarioa hemen"
            autofocus
            [(ngModel)]="text"
            name="text"
            [value]="text"
            cols="60"
            rows="5"
          ></md-textarea>
            <div>
              <button id="submit-button" md-raised-button color="accent">{{ store.getState().session.given_name }}, <span i18n>bidali ba komentarioa</span></button>
            </div>
          </div>

        </form>
      </div>
      <div *ngIf="toggleComment==false">
        <p i18n>Komentarioa bidalita!</p>
        <button id="toggle-comment" md-raised-button  (click)="toggleComment=true;">
          <i class="material-icons">comment</i>
          <span i18n>Komentario berria</span>
        </button>
      </div>
    </div>
  </div>

</div>

<div  *ngFor="let comment of this.comments; let i = index">
  <md-card class="comment">
    <md-card-content>
      <div><strong>#{{i}} {{ comment.login }}</strong></div>
      <md-icon>perm_identity</md-icon>
      <!--img src="" align="left" class="avatar" alt="{{ comment.login }}'s Avatar" title="{{ comment.login }}'s Avatar" /-->
      {{ comment.text }}
    </md-card-content>
    <md-card-subtitle>
      {{ comment.createdAt }}
  </md-card-subtitle>
  </md-card>
</div>
<comments-pagination *ngIf="comments.length > 0" firstPage="{{ firstDate }}" lastPage="{{ lastDate }}"></comments-pagination>
